.terraform/
terraform.*
.terraform.*
.terraform.*.*
env*
*.txt
*.pub
*.zip
wls-wdt*
ssh*
certificates/*
git-init.sh
keys/*
config/*
wls-*.*

create_analytic_users.sh
*.json
upload_files.sh
!terraform.tfvars
tf-tests/*
ansible.log
*.log
*.tar
**/config/*
*.log
sec-private
console-zdm-ssh-key-2021-03-04.key
*.key
*.pub
files*
new*
